{
    "presets": [
        "@babel/preset-env",
        "@babel/preset-typescript"
    ],
    "plugins":  [
        [
            "module-resolver", 
            {
            "root": ["./"],
                "alias": {
                    "@": "./src",
                    "@package": "./src/package",
                    "@interface": "./src/package/interface",
                    "@class": "./src/package/class",
                    "@static": "./static",
                    "@util": "./src/util"
                }
            }
        ]
    ]
}